<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletTutorials</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>helloServlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>servletConfigClass</servlet-name>
  <servlet-class>servletConfig.servletConfigClass</servlet-class>
 
  <init-param>
  <param-name>ozgurbircan</param-name>
  <param-value>Ozgur Bircan</param-value>
  </init-param>
  
  <init-param>
  <param-name>comertbaldemir</param-name>
  <param-value>Comert Baldemir</param-value>
  </init-param>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>servletConfigClass</servlet-name>
  <url-pattern>/servletConfigClass</url-pattern>
  </servlet-mapping>
  
</web-app>